/* -------------imported fonts and root variables------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import url('variables.css');

/*----------------------------STANDARD VALUES----------------------------*/
/* body */
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-dark);
}
.bg-theme{
    background-color: var(--color-theme);
}

/* button */
.btn-theme {
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
    .btn-theme:hover {
      background-color: var(--color-theme-dark);
      color: var(--color-white);  
    }

/* section-title */
.section-title{
    color: var(--color-theme-dark);
    text-align: center;
    padding: 1.5rem 0;
}
    .section-title h1{
        font-family: var(--font-play);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-36);
    }
        .section-title h1 span{
            color: var(--color-theme);
        }
    .section-title p{
        margin: 1rem 0;
    }
        
/*-------------------------------TOP-MENU------------------------------- */
.top-menu {
    background-color: var(--color-theme);
    color: var(--color-white);
}
    .top-menu > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3.3rem;
    }
        .top-menu a {
            color: var(--color-white);
            text-decoration: none;
            margin: 0 1.2rem;
        }
            .top-menu a:hover {
                color: var(--color-theme-dark);
            }
    
/*-----------------.top-menu > .site-settings------------------ */
    .top-menu .site-settings{
        display: flex;
        height: 100%;
    }    
    .top-menu .site-settings .dropdown-menu{
        background-color: var(--color-theme-dark);
        color: var(--color-white);
        border-radius: 0;
        transform: translate(0px, 3.3rem) !important;
        border: 0;
    }
        .top-menu .site-settings .dropdown-menu .dropdown-item{
            width: 10em;
            margin: 0;
        }
            .top-menu .site-settings .dropdown-menu .dropdown-item:hover{
                background-color: var(--color-theme);
                color: var(--color-white);
            }
    .top-menu .site-settings .dropdown-theme button {
        background-color: var(--color-theme);
        color: var(--color-white);
        height: 100%;
        padding: 0;
        margin: -1px;
        border: none;
        }
            .top-menu .site-settings .dropdown-theme button:hover {
                color: var(--color-theme-dark);
            }
/*------------------.top-menu > .top-menu-right---------------- */
    .top-menu .top-menu-right .menu-links {
        display: none;
        transition: 0.2s ease-in-out;

    }
    .top-menu .top-menu-right .social-media {
        display: none;
        transition: 0.2s ease-in-out;
    }

/*-------------------------------MAIN-MENY-------------------------------*/
.main-menu {
    background-color: var(--color-white);
    color: var(--color-theme-dark);
}
    .main-menu > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
    }
    .main-menu .brand a{
        display: flex;
        align-items: center;
    }
        .main-menu .brand a > img{
            width: 100%;
            padding-right: 0.5rem;
        }
    .main-menu .search{
        display: none;
    }
    
/* -----------------.main-menu > .meny-links------------------- */
    .main-menu .menu-links{
        display: flex;
        justify-content: end;
        align-items: center;
    }

        .main-menu .menu-links span{
            display: none;
        }

        .main-menu .menu-links .menu-link{
            color: var(--color-theme-dark);
            text-decoration: none;
            margin: 0 0.2rem;
            display: flex;
            align-items: center;
        }                  
            .main-menu .menu-links .menu-link:hover{
                color: var(--color-theme);
            }
                .main-menu .menu-links .menu-link:first-child{
                    margin-right: -0.35rem;
                }
                .main-menu .menu-links .menu-link:last-child{
                    margin-right: 0;
                }
            .main-menu .menu-links .menu-link i{
                font-size: 1.2rem;
            }
            .main-menu .menu-links #cart{
                position: relative;
            }
                .main-menu .menu-links #cart .badge{
                    background-color: var(--color-theme);
                    position: absolute;
                    top: -0.8rem;
                    left: 0.4rem;
                }
                    .main-menu .menu-links #cart:hover .badge{
                        background-color: var(--color-theme-dark);
                    }

/*------------------.main-menu > nav--------------------------- */
    .main-menu nav {
        border-top: 1px solid var(--color-grey-2);
        border-bottom: 1px solid var(--color-grey-2);
    }
        .main-menu > nav > .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
        }
/*----------------.main-menu > .browse-categories---------------*/
    .main-menu .browse-categories {
        width: 100%;
    }
        .main-menu .browse-categories button {
            background-color: var(--color-theme);
            border: none;
            color: var(--color-white);
            font-size: 1rem;
            width: 100%;
            height: 2.8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.7rem 1rem;
            transition: 0.2s ease-in-out;
        }
            .main-menu .browse-categories button:hover {
                background-color: var(--color-theme-dark);
                color: var(--color-white);
            }
                .main-menu .browse-categories button span {
                    display: flex;
                    align-items: center;
                }
                    .main-menu .browse-categories button > span > i {
                        font-size: 1.4em;
                    }
        .main-menu .browse-categories .dropdown-menu {
            background-color: var(--color-theme-dark);
            width: 100%;
            border-radius: 0;
            border: none;
            transform: translate(0px, 2.8rem) !important;
        }
            .main-menu .browse-categories .dropdown-menu .dropdown-item {
                background-color: var(--color-theme-dark);
                color: var(--color-white);
            }
            .main-menu .browse-categories .dropdown-menu .dropdown-item:hover {
                background-color: var(--color-theme);
                color: var(--color-white);
            }
/*-----------------.main-menu > .special-offer------------------*/
        .main-menu .special-offer{
            display: none;
        }

/*--------------------------------SHOWCASE-------------------------------*/
.showcase{
    background-color: var(--color-grey-3);
}
.showcase .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.showcase img{
    display: none;
}
/*------------------.showcase > .showcase-left------------------*/
    .showcase .showcase-left{
        text-align: center;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        .showcase .showcase-left .showcase-heading{
            flex-direction: column;
            align-items: center;
        }
        .showcase .showcase-left h1{
            font-size: var(--font-size-36);
            font-family: var(--font-play);
            justify-content: center;
        }
        .showcase .showcase-left p{
            display: none;
        }
        .showcase .showcase-left span{
            color: var(--color-theme);
            font-weight: var(--font-weight-bold);
        }
        .showcase .showcase-left .btn {
            background-color: var(--color-white);
            color: var(--color-theme);
            margin: 1rem 0;
            width: 100%;
        }
            .showcase .showcase-left .btn:hover {
                background-color: var(--color-theme-dark);
                color: var(--color-white);
            }

/*-----------------------------WEBSHOP-INFO------------------------------*/
    .webshop-info{
        display: none;
    }
    .webshop-info .container{
        max-width: 1600px;
        display: flex;
        justify-content: center;
    }

/*---------------------.web-shop > .info-box--------------------*/
    .webshop-info .info-box{
        margin: 0.5rem;
        margin-top: 1rem;
        padding: 0.5rem;
        background-color: var(--color-theme-light);
        border-radius: var(--border-radius-small);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: 0.2s ease-in-out;
    }
              .webshop-info .info-box:hover{
                background-color: var(--color-theme);
                color: var(--color-white);
            }
        .webshop-info .info-box img{
            width: 2.5rem;
            filter: brightness(100%);
            transition: 0.2s ease-in-out;
        }
            .webshop-info .info-box:hover img{
                filter: brightness(1000%);
            }
        .webshop-info .info-box h1{
            display: none;
            transition: 0.25s ease-in-out;
        }
        .webshop-info .info-box p{
            display: none;
    }

/*--------------------------SHOP-BY-CATEGORY-----------------------------*/
.shop-by-category .section-title p{
    display: none;
}
.shop-by-category .centering-grid{
    display: flex;
    justify-content: center;
}

/*-----------------.shop-by-category > .grid--------------------*/
.shop-by-category .grid {
    display: grid;
    gap: 0.8rem;
    grid-template-columns: repeat(2, minmax(100px, 300px));
    grid-template-rows: repeat(2, minmax(100px, 150px));
}
    .shop-by-category .grid .category-box{
        background-color: var(--color-grey-1);
        border-radius: var(--border-radius-small);
        overflow: hidden;
        position: relative;
    }
        .shop-by-category .grid .category-box .category-box-title{
            background-color: var(--color-theme-dark);
            color: var(--color-theme);
            padding: 0.5rem 1rem;
            font-weight: var(--font-weight-medium);
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 38px;
            transition: 0.2s ease-in-out;
        }
            .shop-by-category .grid .category-box:hover .category-box-title{
                height: 65px;
            }
            .shop-by-category .grid .category-box .category-box-title span{
                display: block;
                color: var(--color-white);
                font-size: 0.8rem;
                margin-top: 0.2rem;
            }

    /* category-box-n */
    #category-box-1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #category-box-2{
        grid-column: 2/-1;
        grid-row: 1/-1;
    }
    #category-box-3{
        grid-column: 1/2;
        grid-row: 2/-1;
    }
    #category-box-4{
        display: none;
    }
    #category-box-5{
        display: none;
    }
    #category-box-6{
        display: none;
    }
    #category-box-7{
        display: none;
    }

/*----------------------------NEW-ARRIVALS-------------------------------*/
.new-arrivals .section-title p{
    display: none;
}

/*----------------------------RESPONSIVE---------------------------------*/
/* --------------------------576px----------------------------- */
@media (min-width: 576px) { 
    /* top-menu */
    .top-menu .menu-links {
        display: block;
        padding: 0.8rem 0;
        display: flex;
    }   
    .top-menu .top-menu-right .menu-links{
        display: block;
    }
        .top-menu .top-menu-right .menu-links a:last-child{
            margin-right: 0;
        }

    /* main-menu */
    .main-menu .brand{
        flex: 1;
    }
        .main-menu .brand a > img{
            padding-right: 0;
            width: auto;
            height: 100%;
        }
    .main-menu .menu-links{
        flex: 1;
    }

    /* main-menu nav */
        .main-menu nav .browse-categories {
            flex: 1;
        }
        .main-menu nav .special-offer {
            display: block;
            flex: 1;
            display: flex;
            justify-content: end;
            align-items: center;
        }

    /* showcase */
    .showcase .showcase-left p{
        display: block;
        margin-top: 0.5rem;
        width: 60%;
    }
    .showcase .showcase-left .btn{
        width: auto;
    }

    /* webshop-info */
    .webshop-info{
        display: block;
    }
    .webshop-info .info-box{
        margin: 1rem;
        padding: 1rem;
        min-height: 140px;
        min-width: 100px;
        max-width: 120px;
    }
        .webshop-info .info-box h1{
            display: block;
            color: var(--color-theme);
            font-size: 1rem;
            font-weight: var(--font-weight-medium);
            margin: 0;
        }
            .webshop-info .info-box:hover h1{
                color: var(--color-white);
                }
        .webshop-info .info-box img{
            width: auto;
            margin-bottom: 0.5rem;
        }
        
    /* shop-by-category */
    .shop-by-category .section-title p{
        display: block;
    }
        .shop-by-category .grid{
            margin-bottom: 1rem;
        }
    
    /* new-arrivals */
    .new-arrivals .section-title p{
        display: block;
    }
}

/* --------------------------768px----------------------------- */
@media (min-width: 768px) {
    /* main-menu */
    .main-menu .brand{
        flex: 3.5;
    }
    .main-menu .search{
        display: block;
        flex: 3.5;
        border: 1px var(--color-theme-dark) solid;
        border-radius: var(--border-radius-medium);
        text-align: center;
    }
    .main-menu .menu-links{
        flex: 3;
    }
    
    /* main-menu nav */
        .main-menu nav .browse-categories {
            flex: 3.5;
        }
        .main-menu nav .special-offer {
            flex: 6.5;
        }

    /* webshop-info */
    .webshop-info .info-box{
        max-width: none;
        width: 10rem;
        min-height: 120px;
    }

    /* shop-by-category */
    .shop-by-category .grid {
        grid-template-columns: repeat(5, minmax(75px, 130px));
        grid-template-rows: repeat(3, minmax(75px, 130px));
        }

        /* category-box-n */
        #category-box-1{
            display: block;
            grid-column: 1/2;
            grid-row: 1/2;
        }
        #category-box-2{
            display: block;
            grid-column: 2/4;
            grid-row: 1/2;
        }
        #category-box-3{
            display: block;
            grid-column: 4/-1;
            grid-row: 1/3;
        }
        #category-box-4{
            display: block;
            grid-column: 1/3;
            grid-row: 2/-1;
        }
        #category-box-5{
            display: block;
            grid-column: 3/4;
            grid-row: 2/3;
        }
        #category-box-6{
            display: block;
            grid-column: 3/5;
            grid-row: 3/-1;
        }
        #category-box-7{
            display: block;
            grid-column: 5/-1;
            grid-row: 3/-1;
        }
}

/* ----------------------------992px--------------------------- */
@media (min-width: 992px) {
    /* top-menu */
    .top-menu .top-menu-right{
        display: flex;
        align-items: center;
    }
            .top-menu .top-menu-right .menu-links a:last-child{
                margin-right: 1.2rem;
            }

        .top-menu .top-menu-right .social-media {
            display: block;
            margin-left: 1rem;
        }
            .top-menu .top-menu-right .social-media a {
                margin: 0 0.3em;
            }
                .top-menu .top-menu-right .social-media a:last-child {
                    margin: 0 0 0 0.3rem;
                }

    /* main-menu */
    .main-menu .menu-links .menu-link{
        margin: 0 0.3rem;
    } 
        .main-menu .menu-links .menu-link:first-child{
            margin-right: 2rem;
        }
        .main-menu .menu-links .menu-link span{
            display: block;
        }
        .main-menu .menu-links .menu-link .span-first{
            margin-top: 2px;
        }
        .main-menu .menu-links .menu-link .span-second{
            margin-top: 3px;
            margin-left: 1rem;
        }
    .main-menu .brand{
        flex: 3;
    }
    .main-menu .search{
        flex: 3;
        border: 1px var(--color-theme-dark) solid;
    }
    .main-menu .menu-links{
        flex: 4;
    }
    
    /* main-menu nav */
        .main-menu nav .browse-categories {
            flex: 3;
        }
        .main-menu nav .special-offer {
            flex: 7;
        }

    /* showcase */
    .showcase .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .showcase .image-container img {
            display: block;
            flex: 1;
            width: 100%;
        }
        .showcase .showcase-left{
            text-align: left;
            align-items: start;
            flex: 1;
        }

            .showcase .showcase-left h1{
                font-size: var(--font-size-60);
            }
            .showcase .showcase-left p{
                width: 80%;
                margin: 2rem 0;
                text-align: left;
                margin-top: 0;
            }
            .showcase .showcase-left .btn{
                margin: 0;
            }

    /* webshop-info */
    .webshop-info{
        padding: 2rem 0;
    }
        .webshop-info .info-box{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            text-align: left;
            margin: 0 1rem;
            min-height: 100px;
            width: 220px;
        }
            .webshop-info .info-box img{
                margin-right: 1.5rem;
                margin-bottom: 0;
            }  
    
    /* shop-by-category */
    .shop-by-category .grid {
        grid-template-columns: repeat(5, minmax(100px, 180px));
        grid-template-rows: repeat(3, minmax(100px, 180px));
        margin-bottom: 2rem;
    }
        .shop-by-category .grid .category-box .category-box-title{
            border-radius: 0 var(--border-radius-small) 0 0;
            width: 75%;
        }
}


/* ---------------------------1200px--------------------------- */
@media (min-width: 1200px) {
    /* main-menu */
    .main-menu .brand{
        flex: 3;
    }
    .main-menu .search{
        flex: 3.5;
    }
    .main-menu .menu-links{
        flex: 3.5;
    }

    /* webshop-info */
    .webshop-info{
        padding: 4rem 0;
    }
    .webshop-info .info-box{
        margin: 0 1rem;
        padding: 1.5rem;
        width: auto;
    }
        .webshop-info .info-box p{
            display: block;
            margin: 0;
        }

        .webshop-info .info-box h1{
            margin-bottom: 0.5rem;
        } 
    
    /* shop-by-category */
    .shop-by-category .grid {
        grid-template-columns: repeat(5, minmax(200px, 215px));
        grid-template-rows: repeat(3, minmax(200px, 215px));
        margin-bottom: 4rem;
    }
        .shop-by-category .grid .category-box .category-box-title{
            width: 50%;
        }
}

/* ---------------------------1400px--------------------------- */
@media (min-width: 1400px) {
    /* main-menu */
    .main-menu .brand{
        flex: 3;
    }
    .main-menu .search{
        flex: 4;
    }
    .main-menu .menu-links{
        flex: 3;
    }

    /* shop-by-category */
    .shop-by-category .grid {
        grid-template-columns: repeat(5, minmax(200px, 249px));
        grid-template-rows: repeat(3, minmax(200px, 249px));
    }      
}