/* -------------imported fonts and rooted variables------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
@import url(variables.css);

/*-------------------------STANDARD VALUES--------------------------*/
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-dark);
}

.btn-theme {
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
    .btn-theme:hover {
      background-color: var(--color-theme-dark);
      color: var(--color-white);  
    }

/*----------------------------TOP-MENU---------------------------- */
.top-menu {
    background-color: var(--color-theme);
    color: var(--color-white);
    /* height: 100%; */
}
    .top-menu > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* height: 100%; */
    }
        .top-menu a {
            color: var(--color-white);
            text-decoration: none;
            margin: 0 1.2rem;
        }
            .top-menu a:hover {
                color: var(--color-theme-dark);
            }
    
    /*-----------------.top-menu > .site-settings------------------ */
    .top-menu .site-settings{
        display: flex;
        /* height: 100%; ---> I WANT THE .SITE-SETTING TO TAKE ON THE HEIGHT OF THE .CONTAINER*/
    }    
  
    .top-menu .site-settings .dropdown-theme button {
        background-color: var(--color-theme);
        color: var(--color-white);
        /* height: 100%; */
        padding: 0.8rem 0;
        margin: -1px;
        border: none;
        }
            .top-menu .site-settings .dropdown-theme button:hover {
                color: var(--color-theme-dark);
            }
                .top-menu .site-settings .dropdown-menu{
                    background-color: var(--color-theme-dark);
                    color: var(--color-white);
                    border-radius: 0;
                    transform: translate(0px, 49px) !important;
                    border: 0;
                }
                    .top-menu .site-settings .dropdown-menu .dropdown-item{
                        width: 10em;
                        margin: 0;
                    }
                        .top-menu .site-settings .dropdown-menu .dropdown-item:hover{
                            background-color: var(--color-theme);
                            color: var(--color-white);
                        }
    /*---------------------.top-menu > .menu-links-------------------- */
        .top-menu .menu-links {
            display: none;
        }
        .top-menu .social-media {
            display: none;
        }
            .top-menu .social-media a {
                margin: 0 0.3em;
            }
                .top-menu .social-media a:last-child {
                    margin: 0 0 0 0.3rem;
                }

/*----------------------------MAIN-MENY----------------------------*/
.main-menu {
    background-color: var(--color-white);
    color: var(--color-theme-dark);
}
    .main-menu > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;
    }
    .main-menu .brand{
        flex: 2;
    }
    .main-menu .search{
        flex: 4;
    }
    /* -----------------.main-menu > .meny-links------------------- */
    .main-menu .menu-links{
            flex: 4;
            display: flex;
            justify-content: end;
            align-items: center;
        }

        .main-menu .menu-links span{
            display: none;
        }
            .main-menu .menu-links .menu-link{
                display: none;
            }
                .main-menu .menu-links .menu-link:hover{
                    color: var(--color-theme);
                }
                .main-menu .menu-links .menu-link:first-child{
                    margin-right: -0.15rem;
                }
                .main-menu .menu-links .menu-link:last-child{
                    margin-right: 0;
                }
            .main-menu .menu-links .menu-link i{
                font-size: 1.3rem;
            }
    /*------------------.main-menu > nav---------------------------- */
    .main-menu nav {
        border-top: 1px solid var(--color-grey-2);
        border-bottom: 1px solid var(--color-grey-2);
    }
        .main-menu > nav > .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    /*---------------.main-menu > .browse-categories-------------------*/
    .main-menu .browse-categories {
        flex: 2;
    }
        .main-menu .browse-categories button {
            background-color: var(--color-theme);
            border: none;
            color: var(--color-white);
            font-size: 1rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.7rem 1rem;
        }
            .main-menu .browse-categories button:hover {
                background-color: var(--color-theme-dark);
                color: var(--color-white);
            }
            .main-menu .browse-categories button span {
                display: flex;
                align-items: center;
            }
            .main-menu .browse-categories button > span > i {
                font-size: 1.4em;
            }
            .main-menu .browse-categories .dropdown-menu {
                background-color: var(--color-theme-dark);
                width: 100%;
                border-radius: 0;
                border: none;
                transform: translate(0px, 45px) !important;
            }
                .main-menu .browse-categories .dropdown-item {
                    background-color: var(--color-theme-dark);
                    color: var(--color-white);
                }
                .main-menu .browse-categories .dropdown-item:hover {
                    background-color: var(--color-theme);
                    color: var(--color-white);
                }
                /*-----------------.main-menu > .special-offer------------------------*/
                .main-menu .special-offer {
                    flex: 7;
                    display: flex;
        justify-content: end;
        align-items: center;
    }

/*----------------------------RESPONSIVE---------------------------------*/
/* -----------576px------------ */
@media (min-width: 576px) {
    .main-menu .menu-links .menu-link{
        display: block;
        color: var(--color-theme-dark);
        text-decoration: none;
        margin: 0 0.3rem;
    }

    .top-menu .menu-links {
        display: block;
        padding: 0.8rem 0;
        display: flex;
    }
    
}

/* -----------768px------------ */
@media (min-width: 768px) {
    
}

/* -----------992px------------ */
@media (min-width: 992px) {
    
    .top-menu .social-media {
        display: block;
        margin-left: 1rem;
    }
    
.top-menu .social-media {
    margin-left: 1rem;
}
.top-menu.social-media a {
    margin: 0 0.3em;
}
.top-menu .social-media a:last-child {
    margin: 0 0 0 0.3rem;
}
.top-menu .container .top-menu-right{
    display: flex;
    align-items: center;
}

.main-menu .menu-links .menu-link:first-child{
    margin-right: 1rem;
}
.main-menu .menu-links span{
    display: inline-block;
}

.main-menu .menu-links .menu-link{
    margin: 0 0.8rem;
}

}

/* -----------1200px------------ */
@media (min-width: 1200px) {
    
}

/* -----------1400px------------ */
@media (min-width: 1400px) {
 
}