.new-arrivals{    
    .section-title{
        padding-bottom: 0.75rem;
    }

    .card-holder{

        @include xl{
            margin-bottom: 10rem;
        }
        @include xxl{
            justify-content: space-between;
        }

        .card-column{

            @include md{
                height: 350px;
                width: 325px;
            }
    
            &:last-child{
                @include xl{
                    display: none;
                }
                @include xxl{
                    display: block;
                }
            }
        }
    
        .card{

            @include md{
                .card-body{
                    height: 15%;
                }
                &:hover{
                    .card-body{
                        height: 45%;
        
                        h1{
                            margin-bottom: 0rem;
                        }
                    }
        
                    .card-menu{
                        top: 0.8rem;
        
                        li a:hover{
                            color: $color-theme;
                        }
                    }
        
                    .card-background{
                        height: 100%;
                    }
                } 
            }
        } 
    }
}