.top-sellers{
    .container{
        margin-bottom: 5.5rem;
    }

    .grid {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);

        @include sm{
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, auto);
        }

        .card-column{
            height: 100%;
            width: 100%;
            margin-top: 0rem;

            &:last-child{
                @include xl{
                    display: block;
                }
            }    
        }
    }
} 

// Styling for #top-sellers-card-1
#top-sellers-card-1{

    .card-body{
        height: 2.7rem;
        transition: 0.2s ease-in-out;

        @include md{
            padding: 2rem;
            height: 10%;
            transition: 0.5s ease-in-out;
        }
        @include xl{
            height: 4.35rem;
        }
        @include xxl{
            height: 4.6rem;
        }

        h1{
            margin-bottom: 1rem;
        }
    }
    &:hover .card-body{
        height: 15%;

        @include md{
            height: 12rem;
        }
        @include xl{
            height: 13rem;
        }
        h1{
            @include md{
                margin-top: 1rem;
                margin-bottom: 0rem;
            }
            @include xl{
                margin-top: 1rem;
                margin-bottom: 0.4rem;
            }
        }
    }

    img{
        padding-top: 1.5rem;

        @include md{
            padding-top: 2.5rem;
        }
    }

    .card-menu{
        @include md{
            transition: 0.4s ease-in-out;
        }
        li img{
            top: -40px;
        }
    }
    &:hover .card-menu{
        @include md{
            display: block;
            top: 1rem;
            right: 2rem;
        }
        @include lg{
            top: 1.5rem;
        }
        @include xl{
            top: 2rem;
        }
    }  

    .card-background{
        height: 12%;
        transition: 0.2s ease-in-out;

        @include md{
            height: 9%;
            transition: 0.5s ease-in-out;
        }
        @include lg{
            height: 7.5%;
        }
    }
    &:hover .card-background{
        height: 17%;

        @include md{
            height: 100%;
        }
    }
} 

// Styling for #top-sellers-card-2 and #top-sellers-card-3
#top-sellers-card-2,
#top-sellers-card-3{
    .card{

        .card-body{
            padding: 1rem;
            height: 2.7rem;
            transition: 0.2s ease-in-out;

            @include md{
                padding: 0.7rem 2rem;
                transition: 0.4s ease-in-out;    
            }
            @include xl{
                height: 4.35rem;
            }
            @include xxl{
                height: 4.6rem;
            }

            h1{
                @include xl{
                    margin-top: 1.3rem;
                }
            }
        }
        &:hover .card-body{
            height: 32%;

            @include md{
                height: 12.5rem;
                padding: 2rem;
            }
            @include xl{
                height: 13rem;
            }
            h1{
                @include md{
                    margin-top: 1.6rem;
                    margin-bottom: 0rem;
                }
                @include xl{
                    margin-top: 1rem;
                    margin-bottom: 0.4rem;
                }
            }
        }


        .card-menu{
            display: none;

            @include md{
                right: 2rem;
                transition:0.4s ease-in-out;
            }
            @include lg{
                display: block;
            }
        }
        &:hover .card-menu{
            @include lg{
                top: 1.3rem;
            }
            @include xl{
                top: 2rem;
            }
        }
        

        .card-background{
            height: 24%;
            transition: 0.2s ease-in-out;

            @include md{
                height: 19%;
                transition: 0.4s ease-in-out;
            }
            @include lg{
                height: 15%;
            }
        }
        &:hover .card-background{
            height: 35%;

            @include md{
                height: 100%;
            }
        }

    } 
}

div[id^="top-sellers-card-"]{
    width: 231px;
    
    @include sm{
        width: 246px;
    }
    @include md{
        width: 336px;
    }
    @include lg{
        width: 456px;
    }
    @include xl{
        width: 546px;
    }
    @include xxl{
        width: 636px;
    }
}
/* This is where I found a reference how to select multiple elements (id)
https://stackoverflow.com/questions/36772973/selecting-multiple-elements-with-same-classname-using-css */


/* Individual id-styling of the top-sellers-card-n in the grid */
#top-sellers-card-1{
    grid-column: 1/-1;
    grid-row: 1/3;

    @include sm{
        grid-column: 1/2;
        grid-row: 1/-1;
    }
}
#top-sellers-card-2{
    grid-column: 1/-1;
    grid-row: 3/4;

    @include sm{
        grid-column: 2/-1;
        grid-row: 1/2;
    }
}
#top-sellers-card-3{
    grid-column: 1/-1;
    grid-row: 4/-1;

    @include sm{
        grid-column: 2/-1;
        grid-row: 2/-1;
    }
}