.section-title{
    color: $color-theme-dark;
    text-align: center;
    padding: 1.5rem 0;

    h1{
        font-family: $font-play;
        font-weight: $font-weight-bold;
        font-size: $font-size-36;

        span{
            color: $color-theme;
        }
    }

    p{
        display: none;
        margin: 1rem 0;

        @include sm{
            display: block;
        }
    }
}